# Localization
d-i debian-installer/locale string en_US.UTF-8
d-i keyboard-configuration/xkb-keymap select us

# Networking (automatically DHCP during build phase)
d-i netcfg/choose_interface select auto
d-i netcfg/get_hostname string unassigned-hostname
d-i netcfg/get_domain string unassigned-domain
d-i netcfg/wireless_wlan0_nonfree_firmware boolean true

# Mirror settings (where to download packages)
d-i mirror/country string manual
d-i mirror/http/hostname string deb.debian.org
d-i mirror/http/directory string /debian
d-i mirror/http/proxy string
d-i apt-setup/use_mirror boolean true
d-i apt-setup/cdrom/set-first boolean false
d-i apt-setup/disable-cdrom-entries boolean true
d-i popularity-contest/participate boolean false

# Account Setup (Creates a temporary 'packer' user to do the work)
d-i passwd/root-login boolean false
d-i passwd/user-fullname string Packer Builder
d-i passwd/username string packer
d-i passwd/user-password password packer
d-i passwd/user-password-again password packer
d-i user-setup/allow-password-weak boolean true
d-i user-setup/encrypt-home boolean false

# Clock and Timezone
d-i clock-setup/utc boolean true
d-i time/zone string US/Eastern

# Partitioning (Wipes the 20GB virtual disk automatically)
d-i partman-auto/method string lvm
d-i partman-lvm/device_remove_lvm boolean true
d-i partman-md/device_remove_md boolean true
d-i partman-lvm/confirm_nooverwrite boolean true
d-i partman-auto-lvm/guided_size string max
d-i partman-auto/choose_recipe select atomic
d-i partman-partitioning/confirm_write_new_label boolean true
d-i partman/choose_partition select finish
d-i partman/confirm boolean true
d-i partman/confirm_nooverwrite boolean true

# Package Selection (Minimal system utilities + SSH Server so Packer can talk to it)
tasksel tasksel/first multiselect standard, ssh-server
d-i pkgsel/include string sudo openssh-server qemu-guest-agent
d-i pkgsel/upgrade select full-upgrade

# Boot loader installation
d-i grub-installer/only_debian boolean true
d-i grub-installer/with_other_os boolean true
d-i grub-installer/bootdev string default

# Avoid that last "Installation complete" pause menu
d-i finish-install/reboot_in_progress note